
main{
				margin: 0 auto;
				width: 300px;
				height: 300px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
}

button{
				width: 30px;
				height: 30px;
				margin: 5px;
				border-radius: 25px;
}

/************* Classes *************/
.light{
				width: 300px;
				height: 300px;
				margin: 5px;
				border: 15px solid #383838;
}

.lightOn{
				background-color: #e0d400;
}

.lightOff{
				background-color: #3e3e3e;
}
